<article class="event">
	<h2>Event Name: <strong>{{event.title}}</strong></h2>
	<h3>Event ID: {{event.id}}</h3>
	<h3>Start Time: {{event.startTime}}</h3>
	<h3>Description: {{event.description}}</h3>
	<h3>Location: <a href="../locations/{{event.location}}">{{locationName}}</a></h3>
	<h3>Attendees: </h3>
	<ul>
	{{#each attend}}
		<li><a href="../people/{{id}}" title="">{{name}}</a></li>
	{{/each}}
	</ul>
</article>