<article class="location">
	<h2>Location Name: <strong>{{location.name}}</strong></h2>
	<h3>Location ID: {{location.id}}</h3>
	<h3>Address: {{location.location}}</h3>
	<ul>
	{{#each eventsAtLocation}}
		<li><a href="../events/{{id}}" title="">{{title}}</a></li>
	{{/each}}
	</ul>
</article>