<article class="people">
	<h1>Name: {{people.name}}</h1>
	<h2>ID: {{people.id}}</h2>
	<br>
	<ul>
	{{#each eventsList}}
		<li><strong>Event Title: </strong><a href="../events/{{id}}">{{title}}</a></li>
		<li><strong>Event ID: </strong>{{id}}</li>
		<li><strong>Attendees' ID: </strong>{{attendees}}</li>
		<li><strong>Start Time: </strong>{{startTime}}</li>
		<li><strong>Description: </strong>{{description}}</li>
		<li><strong>Location: </strong>{{location}}</li>
	{{/each}}
	</ul>
</article>